<div class="container">
  <h4><%= t :login %></h4>
  <%= form_for @user, url: {controller: "user_sessions", action: "new"}, 
                    html: {class: "form-horizontal"} do |f| %>
   <div class="form-group">
    <div class="col-sm-4">
      <%= f.text_field :email, class: "form-control" %>        				
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.button :submit, class: "form-control" %>
    </div>
  </div>
  <% end %>
  <%= link_to "#{t('registration')}", new_user_path %>
 </div>
