<div class="container">
	<h4><%= t :new_user %></h4>
	<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
	 <div class="form-group">
    <div class="col-sm-4">
      <%= f.text_field :email, class: "form-control" %>        				
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.text_field :locale, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.button :submit, class: "form-control" %>
    </div>
  </div>
  <% end %>
  
  <%= link_to (t :enter), login_path %>
</div>