<h3><%= t :user_info %></h3>
<%= link_to "#{t('edit_user')}", edit_user_path, class: "btn btn-primary btn-xs", role: "button" %>
<table class="table-condensed">
  <tr>
  	<td>Email:</td>
  	<td><%= @user.email %></td>
  </tr>
  <tr>
  	<td><%= t :language %></td>
  	<td><%= @user.locale %></td>
  </tr>
</table>