<%= simple_form_for @card, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <div class="col-sm-7">
      <%= f.input :original_text, label: "Оригинальный текст", class: "form-control" %>        				
    </div>
  </div>	
  
  <div class="form-group">
    <div class="col-sm-7">
      <%= f.input :translated_text, label: "Переведенный текст", class: "form-control" %>
    </div>
  </div>
  			
  <div class="form-group">
    <div class="col-sm-7">
      <%= f.input :review_date, label: "Дата пересмотра", class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.submit "Добавить", class: "form-control" %>
    </div>
  </div>
<% end %>
