<div class="container col-md-10">
		<h4>Список карточек</h4>
		<h5>Уровни:</h5>
		<p>0 - следующий перевод через 12 часов</p>
		<p>1 - следующий перевод через 3 дня</p>
		<p>2 - следующий перевод через 1 неделю</p>
		<p>3 - следующий перевод через 2 недели</p>
		<p>4 - следующий перевод через 1 месяц</p>
		<table class="table table-hover">
 			<tr>
 				<td><strong>#</strong></td>
 				<td><strong>Исходный текст</strong></td>
 				<td><strong>Перевод</strong></td>
 				<td><strong>Дата проверки</strong></td>
 				<td><strong>Категория</strong></td>
 				<td><strong>Плохие попытки</strong></td>
 				<td><strong>Текущий уровень</strong></td>
 				<td><strong>Операции</strong></td>
 			</tr>
 			
 			<% @cards.each do |c| %>
 				<tr>
 					<td><%= c.id %></td>
 					<td><%= c.original_text %></td>
 					<td><%= c.translated_text %></td>
 					<td><%= c.review_date.strftime("%d/%m/%Y") %></td>
 					<td><%= c.category.name %></td>
 					<td><%= c.bad_attempts %></td>
 					<td><%= c.cur_level %></td>
 					<td><%= link_to "Редактировать", edit_card_path(c), 
 					        class: "btn btn-primary btn-xs", 
 					        role: "button"  %>
 					    
 					    <%= link_to "Удалить", card_path(c), 
 					        method: :delete, 
 					        data: { confirm: "Уверены?" }, 
 					        class: "btn btn-primary btn-xs", 
 					        role: "button" %>

 					     <%= link_to "На проверку!", card_path(c),
 					        method: :set_review_date_to_now, 
 					        class: "btn btn-primary btn-xs", 
 					        role: "button"  %></td>
 				</tr>
 			<% end %>
 		</table>
	</div>
